.headerBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.liSearchBar {
	float: right;
}
.searchBar {
	width: 350px;
}
.liHeaderBar {
    float: left;
}

.liHeaderBar a, .liSearchBar {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.liHeaderBar a:hover {
    background-color: red;
}
.dropdown-content-menu {
  position: absolute;
  background-color: #333;
  float: left;
  transition: 0.3s ease;
}
.test {
    list-style: none;
}
.potet {
    width: 100%;
}
