/* React Filepicker Example CSS */

body {
    font-family: sans-serif;
}

h2, h3 {
    color: #000;
}

h2 a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #F7F7F7;
}

div.example {
    margin-left: 20px;
}

div.intro {
    margin-left: 20px;
    color: #000;
}

#host {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.filepicker.dropzone .dz-preview.dz-image-preview {
    background: none;
}

.filepicker.dropzone .dz-preview.dz-image-preview .dz-image {
    border-radius: 5px;
}
a {
    text-decoration: none;
}
.recipeListing{
    background-color: red;
    padding: 10px;
    color: black;
}
.recipeListing:hover {
    background-color: blue;
}
.recipeListing-text{
    display: inline-block;
    width: 80%;
    position: relative;
    top: -50px;
}
.recipeListing-name{
    size: 19px;
    font-size: 25px;
    width: 80%;
}
.recipeListing-desc{
    width: 80%;
}
.recipeListing-img{
    padding-left: 25px;
    width: 15%;
    height: auto;
    display: inline-block;
}
.recipe-img {
    max-width: 50%;
    height: auto;
    display: inline-block;
}
 .demo4 {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 700px;
    position: relative;
  }
  .demo4-inner {
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  .demo4-photo {
    position: absolute;
    background-color: lightgray;
  }



  //KeywordTags
  /* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}