/* React Filepicker Example CSS */

.slick-prev:before,
.slick-next:before {
  color: black;
}

body {
    background-color:#ecf0f1;
}

/********************************
*       Stucture - Main 2600px ->     *
        Edit and Upload page
********************************/

    .filepicker.dropzone .dz-preview.dz-image-preview {
        background: none;
    }

    .filepicker.dropzone .dz-preview.dz-image-preview .dz-image {
        border-radius: 5px;
    }

    /*Edit page*/
    .inputFieldDefault{
        width: 200px;
    }
    .inputFieldLong{
        width: 500px;
    }
    #ingredientsList{
        display: inline-block;
    }
    #amountsList{
        display: inline-block;
    }
    #editRecipeDescription{

    }
    /*Index page*/
    .textField1{
        display: inline-block;
        padding-right: 138px;
    }



/********************************
*       Stucture - Main 2600px ->     *
********************************/


@media screen and (max-width: 2600px) { 
    #app {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    background: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px; /* Settes i px, alle rem verdier refereren til denne */
    }

    h1, h2, h3, h4, h5, h6 {
     font-weight: 600;  
    }
    h1 { font-size: 6rem; }
    h2 { font-size: 3.5rem; }
    h3 { font-size: 3rem; }

    /*Header*/
    #HeaderMenu {
        width: inherit;

    }
    .headerBar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }
    .liSearchBar {
        float: right;
    }
    .searchBar {
        width: 350px;
        color:black;
    }
    .liHeaderBar {
        float: left;
    }

    .liHeaderBar a, .liSearchBar {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.7rem;
    }
    .liHeaderBar a:hover {
        background-color: red;
    }
    .dropdown-content-menu {
        position: absolute;
        background-color: #333;
        z-index: 1;
    }
    #searchButton {
        background-color: darkgrey;
        color: black;
    }
    .dropdown-content-menu {
        position: absolute;
        background-color: #333;
    }


    /*Front page*/

    #popImgDiv {
        text-align: center;
        font-size: 25px;
        padding-top: 10px;
    }

    #popImg {
        max-width: 80%;
        height: 500px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 

    /*Recipe page*/
    #recipeContent {
        width: 100%;
    }
    #recipeName {
        text-align: center;
    }
    #ingredients {
        position: fixed;
        width: 15%;
        display: inline-block;
        float: left;
        font-size: 1.5rem;  
    }
    #recipeContainer {
        width: 80%;
        display: inline-block;
        float: right;
    }
    #recipe {
        width: inherit;
        float: left;
        margin-left: 2%;
        font-size: 1.5rem;
    }
    #recipeImg {
        max-width:80%;
        height: 250px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    #inputServings {
        width: 35%;
        font-size: 105%;
    } 

    /*Upload page*/
    #uploadContainer {
        width: 100%;
        font-size: 1.5rem; 
    }

    /*List page*/
    #recipeListContainer{
    display: inline-block;
    border-bottom: 1px solid grey;
    width: 100%;
    }

    .recipeListing{
        padding: 5px;
    }

    #recipeListContainer:hover {
        background-color: darkgrey;
    }
    .recipeListing-img{
        display: inline-block;
        width:25%;
        float:left;
    }
    .recipe-img {
        width:100%;
    }
    .recipeListing-text{
        display: inline-block;
        float:left;
        width: 60%;

    }
    .recipeListing-name{
        font-size: 3.5rem;
        width: 100%;
        float: left;
        padding-left: 5px;
        color: black;
    }
    .recipeListing-desc{
        width: 80%;
        font-size: 2rem;
        float: left;
        padding-left: 15px;
    }
}





/********************************
*       Stucture - Mobile Portrait     *
********************************/
@media screen and (max-width: 1028px) { 
    #app {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    background: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px; /* Settes i px, alle rem verdier refereren til denne */
    }

    h1, h2, h3, h4, h5, h6 {
     font-weight: 600;  
    }
    h1 { font-size: 6rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 3rem; }

    /*Header*/
    #HeaderMenu {
        width: inherit;

    }
    .headerBar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }
    .liSearchBar {
        float: right;
    }
    .searchBar {
        width: 350px;
        color:black;
    }
    .liHeaderBar {
        float: left;
    }

    .liHeaderBar a, .liSearchBar {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 2.7rem;
    }
    .liHeaderBar a:hover {
        background-color: red;
    }
    .dropdown-content-menu {
        position: absolute;
        background-color: #333;
        z-index: 1;
    }
    #searchButton {
        background-color: darkgrey;
        color: black;
    }
    .dropdown-content-menu {
        position: absolute;
        background-color: #333;
    }

    /*Front page*/

    #popImgDiv {
        padding-top: 10px;
        text-align: center;
        font-size: 25px;
    }

    #popImg {
        max-width: 80%;
        height: 500px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 

    /*Recipe page*/
    #recipeContent {
        width: 100%;
    }
    #recipeName {
        text-align: center;
    }
    #ingredients {
        position: fixed;
        width: 20%;
        display: inline-block;
        float: left;
        font-size: 1.5rem;  
    }
    #recipeContainer {
        width: 80%;
        display: inline-block;
        float: right;
    }
    #recipe {
        width: inherit;
        float: left;
        margin-left: 2%;
        font-size: 1.5rem;
    }
    #recipeImg {
        max-width:80%;
        height: 250px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 
        #inputServings {
        width: 35%;
        font-size: 105%;
    }

    /*Upload page*/
    #uploadContainer {
        width: 100%;
        font-size: 1.5rem; 
    }
    /*List page*/
    #recipeListContainer{
    display: inline-block;
    border-bottom: 1px solid grey;
    width: 100%;
    }

    .recipeListing{
        padding: 5px;
    }

    #recipeListContainer:hover {
        background-color: darkgrey;
    }
    .recipeListing-img{
        display: inline-block;
        width:25%;
        float:left;
    }
    .recipe-img {
        width:100%;
    }
    .recipeListing-text{
        display: inline-block;
        float:left;
        width: 60%;

    }
    .recipeListing-name{
        font-size: 3.5rem;
        width: 100%;
        float: left;
        padding-left: 5px;
        color: black;
    }
    .recipeListing-desc{
        width: 80%;
        font-size: 2rem;
        float: left;
        padding-left: 15px;
    }
}

/********************************
*       Stucture - Mobile Landscape     *
********************************/
@media screen and (max-width: 1028px) and (max-height: 450px) { 
    #app {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    background: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px; /* Settes i px, alle rem verdier refereren til denne */
    }

    h1, h2, h3, h4, h5, h6 {
     font-weight: 600;  
    }
    h1 { font-size: 6rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 3rem; }

    /*Header*/
    #HeaderMenu {
        width: inherit;

    }
    .headerBar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }
    .liSearchBar {
        float: right;
    }
    .searchBar {
        width: 350px;
        color: black;
    }
    .liHeaderBar {
        float: left;
    }

    .liHeaderBar a, .liSearchBar {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 2.5rem;
    }
    .liHeaderBar a:hover {
        background-color: red;
    }
    .dropdown-content-menu {
        position: absolute;
        z-index: 1;
    }

    #searchButton {
        background-color: darkgrey;
        color: black;
    }
    .dropdown-content-menu {
        position: absolute;
        background-color: #333;
    }


    /*Front page*/

    #popImgDiv {
        padding-top: 10px;
        text-align: center;
        font-size: 25px;
        padding-top: 10px;
    }

    #popImg {
        max-width: 80%;
        height: 225px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 

    /*Recipe page*/
    #recipeContent {
        width: 100%;
    }
    #recipeName {
        text-align: center;
    }
    #ingredients {
        position: fixed;
        width: 20%;
        display: inline-block;
        float: left;
        font-size: 1.5rem;   
    }
    #recipeContainer {
        width: 80%;
        display: inline-block;
        float: right;
    }
    #recipe {
        width: inherit;
        float: left;
        margin-left: 2%;
        font-size: 1.5rem;
    }
    #recipeImg {
        max-width:80%;
        height: 250px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 

    #inputServings {
        width: 35%;
        font-size: 105%;
    }

    /*Upload page*/
    #uploadContainer {
        width: 100%;
        font-size: 1.5rem; 
    }
    /*List page*/
    #recipeListContainer{
    display: inline-block;
    border-bottom: 1px solid grey;
    width: 100%;
    }

    .recipeListing{
        padding: 5px;
    }

    #recipeListContainer:hover {
        background-color: darkgrey;
    }
    .recipeListing-img{
        display: inline-block;
        width:25%;
        float:left;
    }
    .recipe-img {
        width:100%;
    }
    .recipeListing-text{
        display: inline-block;
        float:left;
        width: 60%;

    }
    .recipeListing-name{
        font-size: 3.5rem;
        width: 100%;
        float: left;
        padding-left: 5px;
        color: black;
    }
    .recipeListing-desc{
        width: 80%;
        font-size: 2rem;
        float: left;
        padding-left: 15px;
    }
}






