/* React Filepicker Example CSS */

.slick-prev:before,
.slick-next:before {
  color: black;
}

body {
    background-color: #fff /*#2b3848*/;
}

/********************************
*       Stucture - Main 2600px ->     *
        Edit and Upload page
********************************/

    .filepicker.dropzone .dz-preview.dz-image-preview {
        background: none;
    }

    .filepicker.dropzone .dz-preview.dz-image-preview .dz-image {
        border-radius: 5px;
    }

    /*Edit page*/
    .inputFieldDefault{
        width: 200px;
    }
    .inputFieldLong{
        width: 500px;
    }
    #ingredientsList{
        display: inline-block;
    }
    #amountsList{
        display: inline-block;
    }
    #editRecipeDescription{

    }
    /*Index page*/
    .textField1{
        display: inline-block;
        padding-right: 138px;
        background-color: grey;
    }
    #largeImageContainer {
        display: flex;
        position: relative; 
        height: 50%;
        width: 50%;
        top: 50%;
        left: 50%;
        opacity: 1.0;

    }
    #largeImage {
        position: static;
        height: 500px;
        margin-top: -250px;
        margin-left: -25%;
        opacity: 1.0;       
    }
    .parent {

    }
    .parent:before {
        opacity: 0.2;
    }


/********************************
*       Stucture - Main 2600px ->     *
********************************/
/* vietnamese */
html {
    @font-face {
      font-family: 'Muli';
      font-style: normal;
      font-weight: 400;
      src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v10/Ul00HI23GehQ9qPsH_7ocQ.woff2) format('woff2');
      unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Muli';
      font-style: normal;
      font-weight: 400;
      src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v10/jbCPU7JDvi-y7oVFF-ztAg.woff2) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Muli';
      font-style: normal;
      font-weight: 400;
      src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v10/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }

}

@media screen and (max-width: 2600px) { 
    #app {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    background: #fff;
    
    font-size: 14px; /* Settes i px, alle rem verdier refereren til denne */
    }
    
    h1, h2, h3, h4, h5, h6 {
     font-weight: 600;  
    }
    h1 { font-size: 6rem; }
    h2 { font-size: 3.5rem; }
    h3 { font-size: 3rem; }
    
    h1 {
	font-family: Muli;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Muli;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Muli;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Muli;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Muli;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

    /*Header*/
    
    /*Test*/
  

    .fa, .fa-angle-down{
        
    }
    .dropDownBtn{
        border: none;
        text-decoration: none;
        background: #fff;
    }

    .testing ul {
        border: #ababab solid 1px;
        width: 70%;
    }
    #test-dropdown, #menu {
        
        z-index: 1;
        
    }

    .dropDownBtn:focus{
        outline: none;
    }
    .dropDownBtn:hover{
        color: #eeb02d;
        -webkit-transition:  color 0.1s ease;
        -moz-transition:  color 0.1s ease;
        -o-transition:  color 0.1s ease;
        -ms-transition:  color 0.1s ease;
        transition:  color 0.1s ease;
    }
   
    /*Test*/
    
    #HeaderMenu {
        width: 100%;
        margin-bottom: 70px;

    }
    .headerBar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
        border-bottom: 0.1px solid black;
    }
    
    .liSearchBar {
        float: right;
        padding-top: 25px;
    }
    
    .searchBar {
        border: none;
        width: 50px;
        color:black;
        outline: none;
    }
   
    #searchMagnifying {
        position: relative;
        padding-right: 30px;
        z-index: 2;
        width: 18px;
        height: 18px;
        cursor: pointer;
        opacity: 0.5;
    }
    
    .liHeaderBar {
        float: left;
        padding: 25px 16px;
    }

    .liHeaderBar a, .liSearchBar {
        display: inline-block;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 1.7rem;
    }
    .liHeaderBar a:hover {
        background-color: red;
    }
    .dropdown-content-menu {
        position: absolute;
        background-color: #e5e6e6;
        z-index: 1;
    }
    

    /*Front page*/

    #popImgDiv {
        text-align: center;
        font-size: 25px;
        padding-top: 10px;
    }

    #popImg {
        max-width: 80%;
        height: 350px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 

    /*Recipe page*/
    #recipeContent {
        width: 100%;
    }
    #recipeName {
        text-align: center;
    }
    #sidebar {
        position: fixed;
        width: 15%;
        display: inline-block;
        float: left;
        font-size: 1.5rem;  
    }
    #ingredients {
         
    }
    #imageContainer, #imgContainer {
        width: 100%;
    }
    #recipeContainer {
        width: 80%;
        display: inline-block;
        float: right;
    }
    #recipe {
        width: inherit;
        float: left;
        margin-left: 2%;
        font-size: 1.5rem;
    }
    #recipeImg {
        max-width: 90%;
        display: block;
        float: left;
        margin-right: auto;
        margin-left: auto;
    }
    #inputServings {
        width: 35%;
        font-size: 105%;
    } 

    /*Upload page*/
    #uploadContainer {
        width: 100%;
        font-size: 1.5rem; 
    }

    /*List page*/
    #recipeListContainer{
    display: inline-block;
    border-bottom: 1px solid grey;
    width: 100%;
    }

    .recipeListing{
        padding: 5px;
    }

    #recipeListContainer:hover {
        background-color: darkgrey;
    }
    .recipeListing-img{
        display: inline-block;
        width:25%;
        float:left;
    }
    .recipe-img {
        width:100%;
    }
    .recipeListing-text{
        display: inline-block;
        float:left;
        width: 60%;

    }
    .recipeListing-name{
        font-size: 3.5rem;
        width: 100%;
        float: left;
        padding-left: 5px;
        color: black;
    }
    .recipeListing-desc{
        width: 80%;
        font-size: 2rem;
        float: left;
        padding-left: 15px;
    }
}





/********************************
*       Stucture - Mobile Portrait     *
********************************/
@media screen and (max-width: 1028px) { 
    #app {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    background: #fff;
    
    font-size: 14px; /* Settes i px, alle rem verdier refereren til denne */
    }

    h1, h2, h3, h4, h5, h6 {
     font-weight: 600;  
    }
    h1 { font-size: 6rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 3rem; }

    /*Header*/
    #HeaderMenu {
        width: inherit;

    }
    .headerBar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }
    .liSearchBar {
        float: right;
    }
    .searchBar {
        width: 350px;
        color:black;
    }
    .liHeaderBar {
        float: left;
    }

    .liHeaderBar a, .liSearchBar {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 2.7rem;
    }
    .liHeaderBar a:hover {
        background-color: red;
    }
    .dropdown-content-menu {
        position: absolute;
        background-color: #333;
        z-index: 1;
    }
    #searchMagnifying {
        position: relative;
        right: 22px;
        bottom: 1px;
        z-index: 2;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    .dropdown-content-menu {
        position: absolute;
        background-color: #333;
    }

    /*Front page*/

    #popImgDiv {
        padding-top: 10px;
        text-align: center;
        font-size: 25px;
    }

    #popImg {
        max-width: 80%;
        height: 500px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 

    /*Recipe page*/
    #recipeContent {
        width: 100%;
    }
    #recipeName {
        text-align: center;
    }
    #sidebar {
        position: fixed;
        width: 15%;
        display: inline-block;
        float: left;
        font-size: 1.5rem;  
    }
    #ingredients {
        
    }
    #imageContainer {
        
    }
    #recipeContainer {
        width: 80%;
        display: inline-block;
        float: right;
    }
    #recipeContainer {
        width: 80%;
        display: inline-block;
        float: right;
    }
    #recipe {
        width: inherit;
        float: left;
        margin-left: 2%;
        font-size: 1.5rem;
    }
    #recipeImg {
        max-width:80%;
        height: 250px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 
        #inputServings {
        width: 35%;
        font-size: 105%;
    }

    /*Upload page*/
    #uploadContainer {
        width: 100%;
        font-size: 1.5rem; 
    }
    /*List page*/
    #recipeListContainer{
    display: inline-block;
    border-bottom: 1px solid grey;
    width: 100%;
    }

    .recipeListing{
        padding: 5px;
    }

    #recipeListContainer:hover {
        background-color: darkgrey;
    }
    .recipeListing-img{
        display: inline-block;
        width:25%;
        float:left;
    }
    .recipe-img {
        width:100%;
    }
    .recipeListing-text{
        display: inline-block;
        float:left;
        width: 60%;

    }
    .recipeListing-name{
        font-size: 3.5rem;
        width: 100%;
        float: left;
        padding-left: 5px;
        color: black;
    }
    .recipeListing-desc{
        width: 80%;
        font-size: 2rem;
        float: left;
        padding-left: 15px;
    }
}

/********************************
*       Stucture - Mobile Landscape     *
********************************/
@media screen and (max-width: 1028px) and (max-height: 450px) { 
    #app {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    background: #fff;
   
    font-size: 14px; /* Settes i px, alle rem verdier refereren til denne */
    }

    h1, h2, h3, h4, h5, h6 {
     font-weight: 600;  
    }
    h1 { font-size: 6rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 3rem; }

    /*Header*/
    #HeaderMenu {
        width: inherit;

    }
    .headerBar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }
    .liSearchBar {
        float: right;
    }
    .searchBar {
        width: 350px;
        color: black;
    }
    .liHeaderBar {
        float: left;
    }

    .liHeaderBar a, .liSearchBar {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 2.5rem;
    }
    .liHeaderBar a:hover {
        background-color: red;
    }
    .dropdown-content-menu {
        position: absolute;
        z-index: 1;
    }

    #searchMagnifying {
        position: relative;
        right: 22px;
        bottom: 1px;
        z-index: 2;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    .dropdown-content-menu {
        position: absolute;
        background-color: #333;
    }


    /*Front page*/

    #popImgDiv {
        padding-top: 10px;
        text-align: center;
        font-size: 25px;
        padding-top: 10px;
    }

    #popImg {
        max-width: 80%;
        height: 225px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 

    /*Recipe page*/
    #recipeContent {
        width: 100%;
    }
    #recipeName {
        text-align: center;
    }
    #sidebar {
        position: static;
        width: 15%;
        display: inline-block;
        float: left;
        font-size: 1.5rem;  
    }
    #ingredients {
         
    }
    #imageContainer {
        
    }
    #recipeContainer {
        width: 80%;
        display: inline-block;
        float: right;
    }
    #recipeContainer {
        width: 80%;
        display: inline-block;
        float: right;
    }
    #recipe {
        width: inherit;
        float: left;
        margin-left: 2%;
        font-size: 1.5rem;
    }
    #recipeImg {
        max-width:80%;
        height: 250px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    } 

    #inputServings {
        width: 35%;
        font-size: 105%;
    }

    /*Upload page*/
    #uploadContainer {
        width: 100%;
        font-size: 1.5rem; 
    }
    /*List page*/
    #recipeListContainer{
    display: inline-block;
    border-bottom: 1px solid grey;
    width: 100%;
    }

    .recipeListing{
        padding: 5px;
    }

    #recipeListContainer:hover {
        background-color: darkgrey;
    }
    .recipeListing-img{
        display: inline-block;
        width:25%;
        float:left;
    }
    .recipe-img {
        width:100%;
    }
    .recipeListing-text{
        display: inline-block;
        float:left;
        width: 60%;

    }
    .recipeListing-name{
        font-size: 3.5rem;
        width: 100%;
        float: left;
        padding-left: 5px;
        color: black;
    }
    .recipeListing-desc{
        width: 80%;
        font-size: 2rem;
        float: left;
        padding-left: 15px;
    }
}






